@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --blue:#4C7EFC;
    --light-gray:#F3F2F2;
    --light-black:#342E2E;

    --gradient-light-blue:#CBDAFB;
    --gradient-light-blue-2:#A4C2FC;
    --gradient-light-blue:linear-gradient(to right, #cbdafb,  #a4c2fc);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    background:var(--gradient-light-blue);
}

ul {
    list-style-type: none;
}












/*popup section*/
.popup-container {
    background:rgba(30, 30, 30, 0.35);
    position: absolute;
    width:100vw;
    height:100vh;
    top:0;
    z-index:-999;

    display:none;
    justify-content: center;
    align-items:center;
}


.popup {
    background:#fff;
    position: relative;
    width:60rem;
    height:40rem;
    border-radius: 15px;

    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}

@media(max-width:970px) {
    .popup {
        width:90%;
        min-width:25rem;
    }
}

.popup__info {
    position: relative;
    justify-self: center;
    grid-column: 2/3;
    line-height: 1.5;
}

.popup__info__heading {
    margin:1rem 0;
    text-align: center;
    line-height: 1;
}

.popup__info__video {
    width:100%;
}

.popup__info__data {
    display:flex;
    justify-content: space-between;
}

.popup__info__description {
    position: relative;
    background:#fff;
    margin:0.75rem 0;
    height:8rem;
    overflow: auto;
    overflow-x: hidden;
    width:100%;
}

/*Overflow scroll gradient*/
.popup__info__description::after {
    content: '';
  position: absolute;
  bottom: 0;
  left:0;
  width: inherit;
  height: 25px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.025),
    white
  ); /* transparent keyword is broken in Safari */
  pointer-events: none;
}


.popup__close {
    grid-column: 3/4;
    justify-self: end;
}

.popup__close-btn {
    border:none;
    width:2.25rem;
    height:2.25rem;
    border-radius: 50%;
    font-size:1rem;
    background:var(--light-gray);
    color:rgb(160, 160, 160);
    transition:filter 0.25s ease;
    margin:0.75rem 1rem 0 0;
}

.popup__close-btn:hover {
    filter:brightness(0.95);
    cursor: pointer;
}


/*apply to popup-container class
when you click the learn more btn*/
.popup-show {
    display:flex;
    z-index:999;
}

.disable-scrollbar {
    overflow: hidden;
}

.blur {
    filter:blur(10px);
}














/*search section*/
.search-container {
    background:#fff;
    width:25rem;
    height:4rem;
    margin:2rem auto 0 auto;
    display:flex;
    padding:0.5rem;
    border-radius: 10px;
    justify-content: space-between;
    filter:drop-shadow(3px 0px 10px rgba(34, 34, 34, 0.2));
}


.search-input {
    border:none;
    outline:0;
    flex:1;
    font-size:1.25rem;
}

.search-input::placeholder {
    color:rgb(180, 180, 180);
}

.search-btn {
    border:none;
    background-color: var(--blue);
    color:#fff;
    width:3rem;
    border-radius: 10px;
    font-size:1.35rem;
    transition: opacity 0.25s ease;
    margin-left:2px;
}


.search-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search-btn:active {
    opacity: 1;
}










/*card section*/
.card-section {
    width:80%;
    margin:3rem auto 0 auto;
}

.card-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}


.card {
    background:#fff;
    width:13rem;
    height:15rem;
    position: relative;
    text-align: center;
    display:grid;
    grid-template-rows: 2fr 1fr;
    transition: transform 0.15s ease;
    margin:0.5rem;
    border-radius: 2px;
    filter:drop-shadow(2px 4px 8px #1a1a1a20);
}

.card:hover {
    transform: scale(1.05);
}


.card__header {
    width:100%;
    background-color:#fff;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 2px 2px 0 0;
}

.card__header__img {
    width:80px;
    height:80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.card__game-title {
    font-size: 1.15rem;
    margin-top:0.5rem;
    width:20ch;
}


.card__learn-more {
    background:var(--light-gray);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 0 0 2px 2px;
}

.card__learn-more-btn {
    border:none;
    background:var(--light-black);
    color:#fff;
    font-size:1rem;
    padding:0.5rem 0.75rem;
    cursor: pointer;
    border-radius: 5px;
}